
body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #eff2f9;
}
.content {
    width: 350px;
    margin: auto;
    margin-top: 15vh;
    background-color: #e1e7f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.heading {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.heading h2 {
    padding: 15px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    text-align: center;
}
.heading p {
    text-align: center;
}
form {
    padding: 10px 30px 30px;
}
.form-group {
    margin: 20px auto;
}
label {
    display: block;
    margin: 5px auto;
    font-size: 20px;
    color: #012970;
}
input {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    outline: 0px solid #ced4da;
    transition: outline .25s ease-in-out;
}

input:focus {
    outline: 4px solid #ced4da;
}

button {
    padding: 7px;
    min-width: 100px;
    border: 1px outset;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: #48a7cb;
    color: white;
}

p a {
    text-decoration: none;
    color: rgb(65, 65, 169);
}

.modal {
    position: absolute;
    top: 20px;
    left: 32%;
    color: white;
    opacity: 0;
    width: 325px;
    height: 200px;
    border: 1px solid;
    transition: opacity 3s, top 3s;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(45deg, #90a7bf, #4e87b5);
}

.modal:hover {
    opacity: 1;
}